# Question 1 :

In [8]:
firstname=input("enter your firstname : ")
lastname=input("enter your lastname : ")
print(lastname,"",firstname)

enter your firstname : nour
enter your lastname : bouyahiaoui
bouyahiaoui  nour

# Question 2 :

In [5]:
n= input("Enter an intiger : ")
n2= (n+n)
n3= (n+n+n)
print(int(n)+int(n2)+int(n3))

Enter an intiger : 10
102030

# Question 3 :

In [6]:
num = int(input("Enter a number: "))
n = num % 2
if n == 0:
    print("This is an even number.")
else:
    print("This is an odd number.")

Enter a number: 12
This is an even number.

# Question 4 :

In [15]:
for n in range(2000,3201):
    if (n%7 == 0) and (n%5!=0) :
        print(n,end=',')
print("\b.")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,.

# Question 5 :

In [5]:
n = int(input("Enter a number : ")) 
fact = 1
i = 1
while i <= n:
    fact = fact * i;
    i = i + 1
print('the factorial is :',fact)

Enter a number : 2
the factorial is : 2

# Question 6 :

In [7]:
str1 = input("Enter your String : ")
str2 = ""
for i in range(len(str1)):
    if (i% 2==0):
        str2=str2+str1[i]
print("Final String :     ", str2)

Enter your String : hello team
Final String :      hlota

# Question 7 :

In [8]:
price= int(input("Enter a price : "))
if(price>0):
    if price>=500:
        disc=(price*0.5)
    elif price>=200 and price<500 :
        disc=(price*0.3)
    else:
        disc=(price*0.1)
    
    print('discount : ',disc)
    print('final price : ',price-disc)

else:
    print('enter a positive number')

Enter a price : 100
discount :  10.0
final price :  90.0

In [ ]:

............